body {
    margin: 0;
    background: rgb(247, 247, 247);
}
.header {
    display: flex;
    justify-content: space-between;
    background:#3A506B;
    color: #f5f5f5;
    padding: 0 3%;
}
.imgholder {
    text-align: center; 
}
.imgholder p {
    font-size: 1em;
    top: 0;
}
#avi {
    border-radius: 50%;
    width: 50px;
}
.header h2 {
    font-family: kaushan Script;
}
h1 {
    font-family: kaushan Script;
    color:#0B132B;
}
.main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 18%;  
    margin-right: 15%;  
}   
section {
    text-align: center;
} 
.entry {  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 250px;
    background: rgb(227, 227, 228); 
    padding: 1%;
    margin: 1%;
}
.view-header {
    display: flex;
    justify-content: space-between;
}
.entry-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: kaushan script; 
}
.entry-menu {
    display: flex;
    justify-content: flex-end;
}
.menu:hover {
    background-color: lightgrey;
}
.menu {
    position: relative;
    display: block;
    z-index: 1;
}
.dropdown {
    display: none;
    position: absolute;
    min-width: 150px;
    min-width: 220px;
    font-family: flamenco;
    font-size: bold;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.dropdown div {
    display: block;
    padding: 5%;
    
}
.dropdown div:hover {
    background-color: lightgrey;
}
.show {
    display: block;
}
.entry-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.entry-body {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    font-size: 1.1em;
    font-family: kaushan script;
}
a {
    text-decoration: none;
    color: black;
}
#add {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 85vh;
    right: 3%; 
}

button {
    border-radius: 3px;
    border: none;
    width: 85%;
    background:  #3A506B;
    font-family: flamenco;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-weight: bold;
    color: white;
    font-size: 1.2em;
    margin: 2%;
    padding: 2%;
}
button:hover {
    background: #0B132B;
}
.entry-view {
    width: 50%;
    margin: 0 auto;
    padding: 1%;
}

.view-entry {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: #ccc;
    margin: 6% auto 0 auto;
    width: 40%;
    padding: 1%;
    font-family: kaushan script;
    min-height: 300px;
}
.text-body, .text-header {
    text-align: center;
    margin: 0;
}
textarea {
    width: 85%;
    border: none;
    padding: 3%;
    border-radius: 2px;
    font-size: 1.3em;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: kaushan script;
}
input[type="text"] {
    width: 85%;
    padding: 3%;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 2px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: kaushan script;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.imgholder {
    text-align: center;
    margin: 20px 0 10px 0;
    position: relative; 
}
.imgholder a {
    text-decoration: none;
}

input[type="time"] {
    width: 200px;
    border: none;
    border-radius: 4px;
    padding: 3%;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    background: #f5f5f5;
}
input[type="submit"] {
    padding: 1%;
    border-radius: 4px;
    background: #3A506B;
    border: none;
    color: #f5f5f5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
form {
    margin: 0 auto; 
    padding: 2%;
    width: 50%;
    height: 80%;
    background-color: rgb(236, 232, 232);
    border-radius: 5px;
    text-align: center;
}
.close {
    position: absolute;
    color: rgb(99, 97, 97);
    right: 5px;
    font-size: 25px;
    font-weight: bold;

}
.close:hover {
    color: rgb(185, 43, 43);
    cursor: pointer;
}
.closebutton {
    position: relative;
}
